<%- include('./layout/head.ejs') %>
<div class="container">
  <form action="/" method="POST">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <button type="submit">login</button>
  </form>
</div>
<%- include('./layout/footer.ejs') %>